<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <logo>
        <a class="navbar-brand" href="#">METROCHAN</a>
    </logo>
    <links>
        <div class="navbar-nav">
            <a class="nav-item nav-link active waves-light" routerLink='/metro' mdbWavesEffect>Metro <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link waves-light" routerLink='/stats' mdbWavesEffect>Statistiques</a>
            <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Alertes</a>
            <a class="nav-item nav-link waves-light" routerLink='/controle'>C d C</a>
        </div>
    </links>
</mdb-navbar>